<nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav nav-pills">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/#">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#products">Products</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#list">Artists</a></li>
    </ul>
</nav>
</br>
<section class="artistinfo">
  <div class="artist cf" ng-model="artists">
    <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
    <h1>{{artists[whichItem].name}}</h1>
    <div class="info">
      <h3>{{artists[whichItem].reknown}}</h3>
      <img ng-src="images/{{artists[whichItem].shortname}}_tn.jpg" alt="Photo of {{artists[whichItem].name}}">
      <div class="bio">{{artists[whichItem].bio}}</div>
    </div>
  </div>
  <a href="/">&laquo; Back to search</a>
</section>