<nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav nav-pills">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/#">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#products">Products</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#list">Artists</a></li>
    </ul>
</nav>
</br>
<section class="artistinfo">
    <div class="artist cf" ng-model="products">
        <h1>Name:{{products.name}}</h1>

        <div class="info">
            <h2>Price{{products.price}}</h2>

            <h3>Description{{products.description}}</h3>

            <div class="bio">Created at{{products.created_at}}</div>
        </div>
    </div>
    <a href="#/products">&laquo; Back to search</a>
</section>